.category-tag {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.category-tag:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.date-info {
  font-style: italic;
}

/* Estilo para la información de meta en tarjetas oscuras */
.meta-info-dark {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
/* Estilo para la información de meta en tarjetas claras */
.carousel {
  position: relative;
  width: 800px;
  max-width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 3000px;
  margin: 0 auto;
  overflow: hidden;
}
.card {
  position: absolute;
  width: 380px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease, z-index 0.5s ease;
}
@media (max-width: 768px) {
  .carousel {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    height: 400px; /* Ajuste de altura si es necesario */
  }

  .card {
    width: 300px;
    height: 400px;
  }

  /* Ajustes clave para las flechas en móvil */
  .carousel-arrow {
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejor visibilidad */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Asegura que las flechas estén por encima de las tarjetas */
  }

  .prev-arrow {
    left: 10px; /* Pegada al borde izquierdo */
  }

  .next-arrow {
    right: 10px; /* Pegada al borde derecho */
  }
}

/* Estilo para las flechas del carrusel */
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 60px;
  cursor: pointer;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  user-select: none; /* Para evitar que el texto de la flecha se seleccione */
}
.prev-arrow {
  left: 20px;
}
.next-arrow {
  right: 20px;
}
.carousel-arrow:hover {
  color: #ffcc00; /* Cambia el color al pasar el mouse */
}
.carousel-arrow:active {
  color: #ff9900; /* Cambia el color al hacer clic */
}
