<footer class="bg-black text-gray-300 py-26 mb-0">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <p class="text-sm">
      &copy; {{ currentYear }} MaxiRadio FM. Todos los derechos reservados.
      Versión 1.0
    </p>
    <div class="mt-4 flex justify-center space-x-6 text-white">
      <a
        href="https://facebook.com/maxiradiofm"
        target="_blank"
        class="hover:text-yellow-400"
      >
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <a
        href="https://instagram.com/maxiradiofm"
        target="_blank"
        class="hover:text-yellow-400"
      >
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a
        href="https://youtube.com/maxiradiofm"
        target="_blank"
        class="hover:text-yellow-400"
      >
        <i class="fab fa-youtube fa-lg"></i>
      </a>
    </div>
  </div>
  <div class="text-center mt-4">
    <p class="text-sm">Sitio Web Desarrollado por Israel Flores</p>
  </div>
</footer>
